.condition-editor {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: transparent;
}

.condition-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.condition-header h4 {
  margin: 0;
}

.value-toggle {
  display: flex;
  justify-content: space-between;
}

.value-section,
.compare-value-section {
  margin-top: 0px;
}

.value-section h5,
.compare-value-section h5 {
  margin-top: 0;
  margin-bottom: 8px;
}

:host ::ng-deep .mat-button-toggle-group-appearance-standard {
  border-radius: 5px !important;
  border: solid 1px var(--mat-sys-primary) !important;
  margin-bottom: 16px !important;  
}

:host ::ng-deep .mat-button-toggle-checked .mat-button-toggle-button:has(.mat-button-toggle-checkbox-wrapper) {
  padding-left: 0px !important;
}

:host ::ng-deep .mat-button-toggle-checked .mat-button-toggle-checkbox-wrapper {
  display: none !important;
}

:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 0 10px !important;
  line-height: 32px !important;
  font-size: 14px !important;
}

:host ::ng-deep .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  color: var(--mat-sys-on-primary) !important;
  background-color: var(--mat-sys-primary) !important;
}
